# Maven files
target/

# Eclipse files
.project
.settings
.classpath

# IntelliJ IDEA files
.idea/
*.iml

# generated/updated by the flow-maven-plugin
node_modules
package*.json
webpack.config.js
webpack.generated.js